music_env_3.11/
data/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.egg
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# If you created a virtualenv with a different name, add it here (venv, env, .env)
venv/
env/
.env/
